<section class="vh-100 gradient-custom">
  <div class="py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-primary text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <form [formGroup]="form" (ngSubmit)="login()">
              <div data-mdb-input-init class="form-outline form-white mb-4">
                <input type="email" id="email" class="form-control form-control-lg" formControlName="email" />
                <label class="form-label" for="email">Correo</label>
              </div>

              <div data-mdb-input-init class="form-outline form-white mb-4">
                <input type="password" id="passwordPersona" class="form-control form-control-lg" formControlName="password" />
                <label class="form-label" for="passwordPersona">Contraseña</label>
              </div>

              <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5 me-3" type="button" (click)="onBack()">Volver</button>
              <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5 me-3" type="submit">Ingresar</button>
            </form>

            <div class="mt-4">
              <p class="mb-0">¿No tienes una cuenta? <a routerLink="/register" class="text-white-50 fw-bold">Regístrate</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

