 <!-- Form Cabecera -->
<div class="card">
  <div class="card-body">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<!-- Form Detalle -->
<div class="card">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Apellido Paterno</th>
          <th scope="col">Apellido Materno</th>
          <th scope="col">Nombre</th>
          <th scope="col">Genero</th>
          <th scope="col">Fech.Nac</th>
          <th scope="col">TipoDocumento</th>
          <th scope="col">N°Docu</th>
          <th scope="col">Telefono</th>
          <th scope="col">Direccion</th>
          <th scope="col">Ubigeo</th>
        </tr>
      </thead>
      <tbody>
        @for(persona of personaArray | paginate:{itemsPerPage:10,currentPage:page}; track persona.idPersona; let i=$index){
          <tr>
            <td>{{i+1}}</td>
            <td>{{persona.apellidoPaterno}}</td>
            <td>{{persona.apellidoMaterno}}</td>
            <td>{{persona.nombres}}</td>
            @if(persona.sexo){
                <td>{{persona.sexo.descripcion}}</td>
            }@else{
                <td>Sin Género</td>
            }
            <td>{{persona.fechaNacimiento}}</td>
            @if(persona.tipoDocumento){
              <td>{{persona.tipoDocumento.descripcion}}</td>
            }@else{
              <td>Sin Documento</td>
            }
            <td>{{persona.numDocumento}}</td>
            <td>{{persona.telefono}}</td>
            <td>{{persona.direccion}}</td>
            @if(persona.ubigeo){
              <td>{{persona.ubigeo.departamento+"|"+
              persona.ubigeo.provincia+"|"+
              persona.ubigeo.distrito
              }}</td>
            }@else{
                <td>Sin Ubigeo</td>
            }
            <td>
              <button class="btn btn-secondary rounded-circle p-2 lh-1" (click)="editarPersona(persona)">
                <i class="bi-pencil-square"></i>
              </button>
            </td>
            <td>
              <button class="btn btn-danger rounded-circle p-2 lh-1" (click)="eliminarPersona(persona)">
                <i class="bi-trash-fill"></i>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
    <pagination-controls
    (pageChange)="page=$event"
    previousLabel="Anterior"
    nextLabel="Siguiente">
    </pagination-controls>
  </div>
</div>


