<div class="container p-0">
  <div class="row">
    <h5 class="px-4">{{title}}</h5>
    <!-- Form Cabecera -->
    <div class="card">
      <div class="card-body">
        <form class="form-group" [formGroup]="personaForm" (keydown.enter)="onEnterKey($event)">
          <div class="row mb-2">
            <label for="apellidoPaterno" class="col-form-label col-sm-2">Apellido Paterno:</label>
            <div class="col-sm-4">
              <input
              type="text"
              class="form-control uppercase-input"
              [class.is-invalid]="personaForm.get('apellidoPaterno')?.invalid && (personaForm.get('apellidoPaterno')?.touched || personaForm.get('apellidoPaterno')?.dirty)"
              id="apellidoPaterno"
              placeholder="Apellido Paterno"
              formControlName="apellidoPaterno"
              (input)="personaForm.get('apellidoPaterno')?.setValue($any($event.target).value.toUpperCase())"
              #apTooltip="ngbTooltip"
              [ngbTooltip]="getErrorMessage('apellidoPaterno')"
              triggers="manual"
              (input)="getErrorMessage('apellidoPaterno') ? apTooltip.open() : apTooltip.close()"
              (focus)="getErrorMessage('apellidoPaterno') ? apTooltip.open() : apTooltip.close()"
              (blur)="apTooltip.close()"
              tooltipClass="red-tooltip"
              placement="top"
              />
            </div>
          </div>
          <div class="row mb-2">
            <label for="apellidoMaterno" class="col-form-label col-sm-2">Apellido Materno:</label>
            <div class="col-sm-4">
              <input
              type="text"
              class="form-control uppercase-input"
              [class.is-invalid]="personaForm.get('apellidoMaterno')?.invalid && (personaForm.get('apellidoMaterno')?.touched || personaForm.get('apellidoMaterno')?.dirty)"
              id="apellidoMaterno"
              placeholder="Apellido Materno"
              formControlName="apellidoMaterno"
              (input)="personaForm.get('apellidoMaterno')?.setValue($any($event.target).value.toUpperCase())"
              #amTooltip="ngbTooltip"
              [ngbTooltip]="getErrorMessage('apellidoMaterno')"
              triggers="manual"
              (input)="getErrorMessage('apellidoMaterno') ? amTooltip.open() : amTooltip.close()"
              (focus)="getErrorMessage('apellidoMaterno') ? amTooltip.open() : amTooltip.close()"
              (blur)="amTooltip.close()"
              tooltipClass="red-tooltip"
              placement="top"
              />
            </div>
          </div>
          <div class="row mb-2">
            <label for="nombres" class="col-form-label col-sm-2">Nombres:</label>
            <div class="col-sm-4">
              <input
              type="text"
              class="form-control uppercase-input"
              [class.is-invalid]="personaForm.get('nombres')?.invalid && (personaForm.get('nombres')?.touched || personaForm.get('nombres')?.dirty)"
              id="nombres"
              placeholder="Nombres"
              formControlName="nombres"
              (input)="personaForm.get('nombres')?.setValue($any($event.target).value.toUpperCase())"
              #nomTooltip="ngbTooltip"
              [ngbTooltip]="getErrorMessage('nombres')"
              triggers="manual"
              (input)="getErrorMessage('nombres') ? nomTooltip.open() : nomTooltip.close()"
              (focus)="getErrorMessage('nombres') ? nomTooltip.open() : nomTooltip.close()"
              (blur)="nomTooltip.close()"
              tooltipClass="red-tooltip"
              placement="top"
              />
            </div>
          </div>

          <div class="row mb-2">
            <label for="idSexo" class="col-form-label col-sm-2">Genero:</label>
            <div class="col-sm-2">
              <select class="form-control form-select"
              [class.is-invalid]="personaForm.get('idSexo')?.invalid && (personaForm.get('idSexo')?.touched || personaForm.get('idSexo')?.dirty)"
              aria-label="Default select example"
              id="idSexo"
              formControlName="idSexo"
              (change)="setSexo($event)"
              #sexTooltip="ngbTooltip"
              [ngbTooltip]="getErrorMessage('idSexo')"
              triggers="manual"
              (change)="getErrorMessage('idSexo') ? sexTooltip.open() : sexTooltip.close()"
              (blur)="sexTooltip.close()"
              tooltipClass="red-tooltip"
              placement="top"
              >
              @for(sexo of sexoArray; track sexo.idSexo){
                <option value="{{sexo.idSexo}}">{{sexo.descripcion}}</option>
              }
              </select>
            </div>
          </div>

          <div class="row mb-2">
            <label for="fechaNacimiento" class="col-form-label col-sm-2">Fecha Nac:</label>
            <div class="col-sm-2">
              <input
              type="date"
              class="form-control"
              [class.is-invalid]="personaForm.get('fechaNacimiento')?.invalid && (personaForm.get('fechaNacimiento')?.touched || personaForm.get('fechaNacimiento')?.dirty)"
              id="fechaNacimiento"
              formControlName="fechaNacimiento"
              [min]="minDate"
              [max]="maxDate"
              #fnTooltip="ngbTooltip"
              [ngbTooltip]="getErrorMessage('fechaNacimiento')"
              triggers="manual"
              (input)="getErrorMessage('fechaNacimiento') ? fnTooltip.open() : fnTooltip.close()"
              (blur)="fnTooltip.close()"
              tooltipClass="red-tooltip"
              placement="top"
              />
            </div>
          </div>

          <div class="row mb-2">
            <label for="idTipoDocumento" class="col-form-label col-sm-2">Tipo Documento:</label>
            <div class="col-sm-2">
              <select class="form-control form-select"
              [class.is-invalid]="personaForm.get('idTipoDocumento')?.invalid && (personaForm.get('idTipoDocumento')?.touched || personaForm.get('idTipoDocumento')?.dirty)"
              aria-label="Default select example"
              id="idTipoDocumento"
              formControlName="idTipoDocumento"
              (change)="setTipoDocumento($event)"
              #tdTooltip="ngbTooltip"
              [ngbTooltip]="getErrorMessage('idTipoDocumento')"
              triggers="manual"
              (change)="getErrorMessage('idTipoDocumento') ? tdTooltip.open() : tdTooltip.close()"
              (blur)="tdTooltip.close()"
              tooltipClass="red-tooltip"
              placement="top"
              >
              @for(tipodoc of tipoDocumentoArray; track tipodoc.idTipoDocumento){
                <option value="{{tipodoc.idTipoDocumento}}">{{tipodoc.descripcion}}</option>
              }
              </select>
            </div>
          </div>

          <div class="row mb-2">
            <label for="numDocumento" class="col-form-label col-sm-2">N° Documento:</label>
            <div class="col-sm-2">
              <input
              type="text"
              class="form-control"
              [class.is-invalid]="personaForm.get('numDocumento')?.invalid && (personaForm.get('numDocumento')?.touched || personaForm.get('numDocumento')?.dirty)"
              id="numDocumento"
              placeholder="9 dígitos"
              formControlName="numDocumento"
              maxlength="9"
              (input)="personaForm.get('numDocumento')?.setValue($any($event.target).value.replace(/[^0-9]/g, ''))"
              #ndTooltip="ngbTooltip"
              [ngbTooltip]="getErrorMessage('numDocumento')"
              triggers="manual"
              (input)="getErrorMessage('numDocumento') ? ndTooltip.open() : ndTooltip.close()"
              (focus)="getErrorMessage('numDocumento') ? ndTooltip.open() : ndTooltip.close()"
              (blur)="ndTooltip.close()"
              tooltipClass="red-tooltip"
              placement="top"
              />
            </div>
          </div>

          <div class="row mb-2">
            <label for="telefono" class="col-form-label col-sm-2">N° Telefono:</label>
            <div class="col-sm-2">
              <input
              type="text"
              class="form-control"
              [class.is-invalid]="personaForm.get('telefono')?.invalid && (personaForm.get('telefono')?.touched || personaForm.get('telefono')?.dirty)"
              id="telefono"
              placeholder="9 dígitos"
              formControlName="telefono"
              maxlength="9"
              (input)="personaForm.get('telefono')?.setValue($any($event.target).value.replace(/[^0-9]/g, ''))"
              #telTooltip="ngbTooltip"
              [ngbTooltip]="getErrorMessage('telefono')"
              triggers="manual"
              (input)="getErrorMessage('telefono') ? telTooltip.open() : telTooltip.close()"
              (focus)="getErrorMessage('telefono') ? telTooltip.open() : telTooltip.close()"
              (blur)="telTooltip.close()"
              tooltipClass="red-tooltip"
              placement="top"
              />
            </div>
          </div>

          <div class="row mb-2">
            <label for="direccion" class="col-form-label col-sm-2">Direccion:</label>
            <div class="col-sm-4">
              <input
              type="text"
              class="form-control"
              [class.is-invalid]="personaForm.get('direccion')?.invalid && (personaForm.get('direccion')?.touched || personaForm.get('direccion')?.dirty)"
              id="direccion"
              placeholder="Direccion"
              formControlName="direccion"
              #dirTooltip="ngbTooltip"
              [ngbTooltip]="getErrorMessage('direccion')"
              triggers="manual"
              (input)="getErrorMessage('direccion') ? dirTooltip.open() : dirTooltip.close()"
              (focus)="getErrorMessage('direccion') ? dirTooltip.open() : dirTooltip.close()"
              (blur)="dirTooltip.close()"
              tooltipClass="red-tooltip"
              placement="top"
              />
            </div>
          </div>

          <div class="row mb-2">
            <label for="idUbigeo" class="col-form-label col-sm-2">Ubigeo:</label>
            <div class="col-sm-2">
              <select class="form-control form-select"
              [class.is-invalid]="personaForm.get('idUbigeo')?.invalid && (personaForm.get('idUbigeo')?.touched || personaForm.get('idUbigeo')?.dirty)"
              aria-label="Default select example"
              id="idUbigeo"
              formControlName="idUbigeo"
              (change)="setUbigeo($event)"
              #ubiTooltip="ngbTooltip"
              [ngbTooltip]="getErrorMessage('idUbigeo')"
              triggers="manual"
              (change)="getErrorMessage('idUbigeo') ? ubiTooltip.open() : ubiTooltip.close()"
              (blur)="ubiTooltip.close()"
              tooltipClass="red-tooltip"
              placement="top"
              >
              @for(ubigeo of ubigeoArray; track ubigeo.idUbigeo){
                <option value="{{ubigeo.idUbigeo}}">{{
                  ubigeo.departamento+"|"+
                  ubigeo.provincia+"|"+
                  ubigeo.distrito
                }}</option>
              }
              </select>
            </div>
          </div>
          <div class="mt-3">
            <button
            type="submit"
            class="btn btn-primary me-2"
            (click)="registrarPersona()"
            [disabled]="personaForm.invalid"
            >Registrar
            </button>
            <button
            type="button"
            class="btn btn-secondary"
            (click)="refreshForm()"
            >Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- Form Detalle -->
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Apellido Paterno</th>
              <th scope="col">Apellido Materno</th>
              <th scope="col">Nombre</th>
              <th scope="col">Genero</th>
              <th scope="col">Fech.Nac</th>
              <th scope="col">TipoDocumento</th>
              <th scope="col">N°Docu</th>
              <th scope="col">Telefono</th>
              <th scope="col">Direccion</th>
              <th scope="col">Ubigeo</th>
            </tr>
          </thead>
          <tbody>
            @for(persona of personaArray | paginate:{itemsPerPage:10,currentPage:page}; track persona.idPersona; let i=$index){
              <tr>
                <td>{{i+1}}</td>
                <td>{{persona.apellidoPaterno}}</td>
                <td>{{persona.apellidoMaterno}}</td>
                <td>{{persona.nombres}}</td>
                @if(persona.sexo){
                    <td>{{persona.sexo.descripcion}}</td>
                }@else{
                    <td>Sin Género</td>
                }
                <td>{{persona.fechaNacimiento}}</td>
                @if(persona.tipoDocumento){
                  <td>{{persona.tipoDocumento.descripcion}}</td>
                }@else{
                  <td>Sin Documento</td>
                }
                <td>{{persona.numDocumento}}</td>
                <td>{{persona.telefono}}</td>
                <td>{{persona.direccion}}</td>
                @if(persona.ubigeo){
                  <td>{{persona.ubigeo.departamento+"|"+
                  persona.ubigeo.provincia+"|"+
                  persona.ubigeo.distrito
                  }}</td>
                }@else{
                    <td>Sin Ubigeo</td>
                }
                <td>
                  <button class="btn btn-secondary rounded-circle p-2 lh-1" (click)="editarPersona(persona)">
                    <i class="bi-pencil-square"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-danger rounded-circle p-2 lh-1" (click)="eliminarPersona(persona)">
                    <i class="bi-trash-fill"></i>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
        <pagination-controls
        (pageChange)="page=$event"
        previousLabel="Anterior"
        nextLabel="Siguiente">
        </pagination-controls>
      </div>
    </div>

  </div>
</div>



